version : '3.7'
services :

  # Services whose image must be pulled from dockerhub
  ui_prod : 
    image : '{{dockerhub_username}}/{{dockerhub_repo}}:ui_prod'
    container_name : ui_prod
    networks : 
      back : {}
  api_prod : 
    image : '{{dockerhub_username}}/{{dockerhub_repo}}:api_prod'
    container_name : api_prod
    networks : 
      back : {}

  # The mongodb service.
  mongodb : 
    environment:
      MONGO_INITDB_ROOT_USERNAME : {{mongo_initdb_root_username}}
      MONGO_INITDB_ROOT_PASSWORD : {{mongo_initdb_root_password}}
    container_name: mongo
    image : mongo
    networks : 
      back : {}
    ports : [ 27017 ]
    volumes : 
      # This will be used to persist data between containers.
      # It must be backed up regularly.
      - ./mongo_data:/data/db

  # NPM - Found out about this [here](https://www.the-digital-life.com/nginx-proxy-manager/)
  npm :
    images : 'jc21/nginx-proxy-manager:latest'
    ports :
      - 80:80
      - 81:8181
      - 443:443
    environment :
      DB_MYSQL_HOST : {{npm_db}}
      DB_MYSQL_PORT : 3306
      DB_MYSQL_USER : '{{npm_db_username}}'
      DB_MYSQL_PASSWORD : '{{npm_db_password}}'
      DB_MYSQL_NAME : 'npm'
  volumes :
    - ./data:/data
    - ./letsencrypt:/etc/letsencrypt

  {{npm_db}} :
    # More info: https://github.com/jc21/docker-mariadb-aria
    images : 'jc21/mariadb-aria:latest'
    environment :
      MYSQL_ROOT_PASSWORD : {{npm_db_root_password}}
      MYSQL_DATABASE : 'npm'
      MYSQL_USER : {{npm_db_username}}
      MYSQL_PASSWORD : {{npm_db_password}}
    volumes :
      - ./data/mysql:/var/lib/mysql

# NB these networks are build into the containers.
networks :
  front :
    driver : 'bridge'
    attachable : true
  back :
    driver : 'bridge'
    attachable : true
