version : '3.7'
services :


  # Services whose image must be pulled from dockerhub
  ui_prod : 
    image : {{dockerhub_repo}}:ui_prod
    container_name : ui_prod
    depends_on : 
    - api_prod
    networks : 
      front : {}
    ports :
    - 8080

  api_prod : 
    build : 
      context : '.'
      dockerfile : 'Dockerfile.api_prod'
    container_name : api_prod
    depends_on : 
    - mongodb
    networks : 
      back : {}
    ports : 
    - 14747
    tty : true


  # The mongodb service.
  mongodb : 
    environment:
      MONGO_INITDB_ROOT_USERNAME : {{mongo_initdb_root_username}}
      MONGO_INITDB_ROOT_PASSWORD : {{mongo_initdb_root_password}}
    container_name: mongo
    image : mongo
    networks : 
      back : {}
    ports : [ 27017 ]
    volumes : 
      # This will be used to persist data between containers.
      # It must be backed up regularly.
    - ./mongo_data:/data/db

# NB these networks are build into the containers.
networks :
  front :
    external : true
    name : front
  back :
    external : true
