version : '3.7'
services :

  # Services whose image must be pulled from dockerhub
  ui_prod : 
    image : '{{dockerhub_username}}/{{dockerhub_repo}}:ui_prod'
    networks : 
      back : {}
  api_prod : 
    image : '{{dockerhub_username}}/{{dockerhub_repo}}:api_prod'
    networks : 
      back : {}

  ssl :

    # This directory should be made by the adjacent tasks
    # It should have the following shape
    # nginx
    # - nginx.conf
    # - ssl : [ crt.key, crt.pem ]

    build : './nginx'
    container_name : 'ssl_prod'
    ports :
      - target : 443
        published : 443
        protocol : 'tcp'

    # This will be made by ansible templates in the docker host.
    volumes :
      - type : 'bind'
        source : './nginx/ssl'
        target : '/root/ssl'

  # The mongodb service.
  mongodb : 
    environment:
      MONGO_INITDB_ROOT_USERNAME : {{mongo_initdb_root_username}}
      MONGO_INITDB_ROOT_PASSWORD : {{mongo_initdb_root_password}}
    container_name: mongo
    image : mongo
    networks : 
      back : {}
    ports : [ 27017 ]
    volumes : 
      # This will be used to persist data between containers.
      # It must be backed up regularly.
      - ./mongo_data:/data/db




# NB these networks are build into the containers.
networks :
  front :
    driver : 'bridge'
    attachable : true
  back :
    driver : 'bridge'
    attachable : true
