@import 'bootstrap/dist/css/bootstrap.min.css' ;
:root {
	--size : x-large;
	--padding : 21% ;
}

/* Media queries for size along bs breakpoints */
@media ( max-width : 992px ) and ( min-width : 1200px ){
	:root {
		--size : large ;
		--padding : 8% ;
	}
}
@media ( max-width : 992px ) and ( min-width : 576px ){
	:root {
		--size : medium ;
		--padding : 3% ;
	}
}
@media ( max-width : 576px ){
	:root {
		--size : small ;
		--padding : 13px;
	}
}

.Wrapper {
	font-size : var( --size ) ;
	padding-right : var( --padding ) ;
	padding-left : var( --padding ) ;
}
.Wrapper button{
	margin-top : 2%;
	margin-bottom : 2% ;
	margin-right: 1% ;
}
.Wrapper p,
.Wrapper ul,
.Wrapper li,
.Wrapper pre,
.Wrapper label, 
.Wrapper h1,
.Wrapper h2,
.Wrapper h3,
.Wrapper p {
	margin-top : 1% ;
	margin-bottom : 1% ;
	padding-top : 2%;
	padding-bottom : 2%;
}
.Wrapper h1
{
	color : var( --bs-primary );
}
.Wrapper h1 a
{
	color : var( --bs-pink );
}
.Wrapper h2
{
	color : var( --bs-secondary );
}
.Wrapper h3
{
	color : var( --bs-secondary );
}
.Wrapper code{
	color : var( --bs-pink );
}
.Wrapper pre {
	font-size: small ;
	background: inherit ;
	background-color: rgb(253, 246, 227);
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; 
	text-align: left; 
	white-space: pre; 
	word-spacing: normal; 
	word-break: normal; 	 
	overflow-wrap: normal; 
	line-height: 1.5; 
	tab-size: 4; 
	hyphens: none; 
	padding: 1em; 
	margin: 0.5em 0px; 
	overflow: auto; 
	border-radius: 0.3em; 
        word-break: normal;
}
.Wrapper pre code {
	font-size: var( --size );
}
.Wrapper pre {
	margin-top: 0% ;
	padding-top : 5% ;
	margin-bottom : 5% ;
}
