@import 'bootstrap/dist/css/bootstrap.min.css' ;
:root {
	--size : x-large ;
	--code-size : large ;
	--padding : 8% ;
}

/* Media queries for size along bs breakpoints */
@media ( max-width : 992px ) and ( min-width : 1200px ){
	:root {
		--size : large ;
		--code-size : medium ;
		--padding : 5% ;
	}
}
@media ( max-width : 992px ) and ( min-width : 576px ){
	:root {
		--size : medium ;
		--code-size : medium ;
		--padding : 3% ;
	}
}
@media ( max-width : 576px ){
	:root {
		--size : small ;
		--code-size : small ;
		--padding : 13px;
	}
}

.Wrapper {
	font-size : var( --size ) ;
	padding-right : var( --padding ) ;
	padding-left : var( --padding ) ;
}
.Wrapper .Scrollable{
	padding-left : 1.5% ;
	padding-right : 1.5% ;
	height : 1024px ;
	overflow-x : auto ;
	border : solid var( --bs-gray-400 ) 1px ;
	border-radius : 3px ;
}
.Wrapper button{
	margin-top : 2%;
	margin-bottom : 2% ;
	margin-right: 1% ;
}
.Wrapper .Warning
.Wrapper p,
.Wrapper ul,
.Wrapper li,
.Wrapper pre,
.Wrapper label, 
.Wrapper h1,
.Wrapper h2,
.Wrapper h3,
.Wrapper blockquote,
.Wrapper p {
	margin-top : 1% ;
	margin-bottom : 1% ;
	padding-top : 2%;
	padding-bottom : 2%;
}
.Wrapper .Warning
{
	padding-left : 2% ;
	font-size : small ;
	color : var( --bs-danger ) ;
}
.Wrapper blockquote{
	padding-left : 10%;
	padding-right : 2% ;
	font-style: italic ;
}
.Wrapper .Warning,
.Wrapper pre div ,
.Wrapper blockquote
{
	background : rgb( 253, 246, 227 ) ; 
	border-left : solid var( --bs-primary ) 4px;
}
.Wrapper h1
{
	color : var( --bs-primary );
}
.Wrapper h1 a
{
	color : var( --bs-pink );
}
.Wrapper h2
{
	color : var( --bs-secondary );
}
.Wrapper h3
{
	color : var( --bs-secondary );
}
.Wrapper code{
	color : var( --bs-pink );
}
.Wraper p em strong{
	color : var( --bs-primary );
}
.Wrapper pre {
	font-size: small ;
	background: inherit ;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; 
	text-align: left; 
	white-space: pre; 
	word-spacing: normal; 
	word-break: normal; 	 
	overflow-wrap: normal; 
	line-height: 1.5; 
	tab-size: 4; 
	hyphens: none; 
	padding: 1em; 
	margin: 0.5em 0px; 
	overflow: auto; 
	border-radius: 0.3em; 
        word-break: normal;
}
.Wrapper pre code {
	font-size: var( --code-size );
}
.Wrapper pre {
	margin-top: 0% ;
	padding-top : 5% ;
	margin-bottom : 5% ;
}
.Wrapper label {
	font-size: var( --size );

}
